<!DOCTYPE html>
<html>
<head>
<title>Lista people</title>
<link rel="stylesheet" type="text/css" href="/files5/overlay.css">
<script src="/files5/overlay.js"></script>
</head>
<body>
{% from "_common.html" import start_page, end_page, flash_messages %}
<!-- template: lista_people.html v. 5.0 -->
{{ start_page("",sede.sede_it,title,subtitle,"","no") }}
<tr><td>
<h3>
-{% for ii in initials %}
<a href=#lett_{{ ii }}>{{ ii }}</a> -
{% endfor %}
<font size=-1>(<a href=/anomalie>Lista anomalie</a>)</font>
</h3>
<hr>
Per modificare un record, cliccare sul nome dell'utente.
{% for ii in initials %}
<p><b><font size=+2>- {{ ii }} -</font></b><br>
<a name=lett_{{ ii }}>
{% for ll in data[ii] %}
<a href=/modificaldap/{{ ll.uid[0] }}>{{ ll.sn[0] }}, {{ ll.givenName[0]}} ({{ ll.uid[0] }})</a>; &nbsp; 
{% endfor %}
</a>
{% endfor %}
</td></tr>
{{ end_page() }}
&rightarrow; <a href=/>Torna</a>
</body>
