<!-- Template: pratiche_A.html v. 5.0 -->
<table width=100%>
<tr><td valign=top width=60% bgcolor=#f0f0f0>

{% if creapratica in info.commands and info.progetto_modificabile %}
<form method=GET action=/creapratica>
<input type=submit value="Crea nuova pratica" name=creapratica>
</form>
{% endif %}
<p>
<b>Progetto:</b>
{% if info.pdf_progetto %}
[<a href="/vedifile/progetto.pdf" target="_blank">Vedi</a>]
{% endif %}
{% if 'modificaprogetto' in info.commands and info.progetto_modificabile %}
&nbsp;&nbsp;[<a href=/modificaprogetto>Crea/Modifica</a>]
{% endif %}
{% if 'inviaprogetto' in info.commands and info.progetto_inviabile %}
&nbsp;&nbsp;[<a href=/inviaprogetto>Richiedi approvazione</a>]
{% endif %}
{% if 'approvaprogetto' in info.commands and info.progetto_approvabile %}
&nbsp;&nbsp;[<a href=/approvaprogetto>Approva</a>]
{% endif %}
{% if 'indicarup' in info.commands and info.rup_indicabile %}
&nbsp;&nbsp;[<a href=/indicarup>Indicazione RUP</a>]
{% endif %}
<p>
<b>Nomina RUP: </b>
{% if info.pdf_nominarup %}
   [<a href=/vedifile/nominarup.pdf>Vedi</a>]
{% endif %}
{% if 'rich_autorizzazione' in info.commands and info.autorizz_richiedibile %}
&nbsp;&nbsp;[<a href=/rich_autorizzazione>Richiedi autorizzazione al Direttore</a>]
{% endif %}
{% if 'autorizza' in info.commands and info.autorizzabile %}
&nbsp;&nbsp;[<a href=/autorizza>Autorizzazione Direttore</a>]
{% endif %}
{% if info.rdo_richiesta %}
<p>
<b>Rich. di Offerta:</b>
{% if info.pdf_rdo %}
   [<a href=/vedifile/rdo.pdf>Vedi</a>]
{% endif %}
{% if 'modificardo' in info.commands and info.rdo_modificabile%}
&nbsp;&nbsp;[<a href=/modificardo>Crea/Modifica</a>]
{% endif %}
{% endif %}
<p>
<b>Decisione: </b>
{% if info.pdf_decisione %}
  [<a href=/vedifile/decisione.pdf>Vedi</a>]
{% endif %}
{% if 'modificadecisione' in info.commands and info.decis_modificabile %}
&nbsp;&nbsp;[<a href=/modificadecisione>Crea/Modifica</a>]
{% endif %}
{% if 'inviadecisione' in info.commands and info.decis_inviabile %}
&nbsp;&nbsp;[<a href=/inviadecisione>Invia decisione per firma digitale</a>]
{% endif %}
<p>
{% if info.ordine %}
<p>
<b>Ordine:</b>
{% if info.pdf_ordine %}
  [<a href=/vedifile/ordine.pdf>Vedi</a>]
{% endif %}
{% if 'modificaordine' in info.commands and info.ordine_modificabile %}
&nbsp;&nbsp;[<a href=/modificaordine>Crea/Modifica</a>]
{% endif %}
{% endif %}
{% if 'procedi' in info.commands %}
<p align='right'>
&nbsp;&nbsp;[<a href=/procedi>Procedi</a>]&nbsp;&nbsp;&nbsp;&nbsp;
{% endif %}

<p>
<b>Allegati:</b>
{% if info.allegati_mancanti %} 
   &nbsp;&nbsp;(<font color="red">Mancanti: {{ info.allegati_mancanti }}</font>)
{% endif %}
{% if info.attach %}
<ul>
   {% for a in info.attach %}
<li> <a href=/vedifile/{{ a[0] }}>{{ a [1]}}</a> 
      {% if a[2] %}
&nbsp;&nbsp;[<a href=/cancella/{{ a[0] }}>Cancella</a>]
      {% endif %}
   {% endfor %}
{% endif %}

<p>
{% if pratica.pratica_aperta %}
</td><td valign=top width=40% bgcolor=#ffddaa>
<form method=POST action=/upload enctype=multipart/form-data novalidate> 
<b> Allega documenti</b>
<p>
{{ upload.upload_file }} <a href="/files5/help_upload.html"  onclick="window.open('/files5/help_upload.html', 'newwindow', 'width=640, height=480, scrollbars=yes'); return false;"><sup><img src=/files5/qm-16.png></sup></a><br> 

<blockquote>
{{ upload.tipo_allegato }}
</blockquote>
</form>
{% else %}
</td><td valign=top width=35% bgcolor=#f0f0f0>
&nbsp;
{% endif %}
</td></tr>
<tr><td> 
{% if info.rollback %}
[<a href=/rollback>Annulla ultimo passo</a>]
{% endif %}
{% if 'chiudipratica' in info.commands and info.pratica_chiudibile %}
&nbsp;&nbsp;[<a href=/chiudipratica>Chiudi Pratica</a>]
{% endif %}
</td></tr>
</table>
