<!-- Template: pratiche_A.html v. 5.0 -->
<table width=100%>
<tr><td valign=top width=60% bgcolor=#f0f0f0>
<b>Progetto:</b>
{% if info.pdf_progetto %}
[<a href="/vedifile/progetto.pdf" target="_blank">Vedi</a>]
   {% if info.progetto_modificabile %}
      &nbsp;&nbsp;[<a href=/modificaprogetto>Modifica</a>]
   {% endif %}
   {% if info.progetto_inviabile %}
      &nbsp;&nbsp;[<a href=/inviaprogetto>Richiedi approvazione</a>]
   {% endif %}
   {% if info.progetto_approvabile %}
      &nbsp;&nbsp;[<a href=/approvaprogetto>Approva</a>]
   {% endif %}
   {% if info.rup_indicabile %}
      &nbsp;&nbsp;[<a href=/indicarup>Indicazione RUP</a>]
   {% endif %}
   {% if info.autorizz_richiedibile %}
      &nbsp;&nbsp;[<a href=/rich_autorizzazione>Richiedi autorizzazione al direttore</a>]
   {% endif %}
   {% if info.rich_rup_autorizzabile %}
      &nbsp;&nbsp;[<a href=/autorizza>Autorizzazione direttore</a>]
   {% endif %}
{% else %}
   {% if info.progetto_modificabile %}
      [<a href=/modificaprogetto>Genera</a>]
   {% endif %}
{% endif %}
<p>
<b>Nomina RUP: </b>
{% if info.pdf_nominarup %}
   [<a href=/vedifile/nominarup.pdf>Vedi</a>]
{% endif %}
<p>

<b>Rich. di Offerta:</b>
{% if info.pdf_rdo %}
   [<a href=/vedifile/rdo.pdf>Vedi</a>]
{% endif %}
{% if info.rdo_modificabile %}
   {% if info.pdf_rdo %}
      [<a href=/modificardo>Modifica</a>]
   {% else %}
      [<a href=/modificardo>Genera</a>]
   {% endif %}
{% endif %}
<p>
<b>Decisione: </b>
{% if info.pdf_decisione %}
  [<a href=/vedifile/decisione.pdf>Vedi</a>]
  {% if info.decis_modificabile %}
      &nbsp;&nbsp;[<a href=/modificadecisione>Modifica</a>]
  {% endif %}
  {% if info.decis_inviabile %}
      &nbsp;&nbsp;[<a href=/inviadecisione>Invia al Direttore</a>]
  {% endif %}
{% else %}
  {% if info.decis_modificabile %}
      [<a href=/modificadecisione>Genera</a>]
  {% endif %}
{% endif %}
<p>

<b>Allegati:</b>
{% if info.allegati_mancanti %} 
   &nbsp;&nbsp;(<font color="red">Mancanti: {{ info.allegati_mancanti }}</font>)
{% endif %}
{% if info.attach %}
<ul>
   {% for a in info.attach %}
<li> <a href=/vedifile/{{ a[0] }}>{{ a [1]}}</a> 
      {% if a[2] %}
&nbsp;&nbsp;[<a href=/cancella/{{ a[0] }}>Cancella</a>]
      {% endif %}
   {% endfor %}
{% endif %}

<p>
{% if pratica.pratica_aperta %}
</td><td valign=top width=40% bgcolor=#ffddaa>
<form method=POST action=/pratica1 enctype=multipart/form-data novalidate> 
<b> Allega documenti</b>
<p>
{{ upload.upload_file }} <a href="/files5/help_upload.html"  onclick="window.open('/files5/help_upload.html', 'newwindow', 'width=640, height=480, scrollbars=yes'); return false;"><sup><img src=/files5/qm-16.png></sup></a><br> 

<blockquote>
{{ upload.tipo_allegato }}
</blockquote>
</form>
{% else %}
</td><td valign=top width=35% bgcolor=#f0f0f0>
&nbsp;
{% endif %}
</td></tr>
{% if info.rollback %}
<tr><td> 
[<a href=/rollback>Annulla ultimo passo</a>]
</td></tr>
{% endif %}
</table>
