<!DOCTYPE html>
<html>
<head>
<title>Pratica</title>
<link rel="stylesheet" type="text/css" href="/files5/overlay.css">
<script src="/files5/overlay.js"></script>
</head>
<body>
<!-- template: pratica.html. v. 5.0 -->
{% from "_common.html" import start_page, end_page, tobottom %}
{% macro getval(value) %}
Pratica N. {{ value }}
{% endmacro %}
{{ start_page(sede.sede_it,getval(pratica.numero_pratica),pratica.descrizione_acquisto) }}
<tr><td>
{% if info.debug %}
   <h4> <font color=red>Modo debug</font>: invia tutti messaggi email a webmaster </h4>
{% endif %}
{% if info.developer %}
<form action=/devel target=_blank method=post>
<h4><font color=red>Modo developer</font> - Template: pratica.html v 1.1 - &nbsp;Vedi:&nbsp;
<input type=submit value="File pratica" name=vedipratica>
<input type=submit value="Checks" name=vedichecks>
<input type=submit value="Info" name=vediinfo>
<input type=submit value="Config" name=vediconfig>
<input type=submit value="Request" name=vedirequest>
{% for k, v in info.items() %} <input type="hidden" name="info.{{k}}" value="{{v}}"> {% endfor %}
</form>
{% endif %}</h4> 

<table cellspacing=3>
<tr><td><b>Progetto del:</b></td><td> {{ pratica.data_richiesta }} </td></tr>
<tr><td><b>Richiedente:</b></td><td> {{ pratica.nome_richiedente }} </td></tr>
<tr><td><b>Resp. fondi:</b></td><td> {{ pratica.nome_responsabile }} </td></tr>
<tr><td><b>RUP:</b></td><td> {{ pratica.nome_rup }} </td></tr>
<tr><td><b>Mod. acquisto:</b></td><td> {{ pratica.str_mod_acq }} </td></tr>
<tr><td><b>Stato:</b></td><td>  {% if pratica.pratica_aperta %} Aperta {% else %} Chiusa {% endif %} </td></tr>
<tr><td><b>Passo:</b></td><td>  {{ info.stato_pratica }} </td></tr>
<tr><td valign=top align=left><b>Storia:</b></td>
    <td align=left>
{% if pratica._vedi_storia==1 %}
   [<a href=/togglestoria>Nascondi storia</a>]<br>
   {% for s in pratica.storia_pratica %}
      {{ s }}<br>
   {% endfor %}
{% else %}
   [<a href=/togglestoria>Vedi storia</a>]
{% endif %}
</td></tr></table>

</td></tr><tr><td width=100%>
<table cellpadding=20 width=100%>
{% include "pratica_A.html" %}
</table>

</td></tr><tr><td>
[<a href=/>Torna</a>] &nbsp;&nbsp;&nbsp;
{% if info.pratica_chiudibile %}
[<a href=/chiudipratica>Chiudi pratica</a>] &nbsp;&nbsp;&nbsp;
{% endif %}
{% if info.pratica_apribile %}
[<a href=/apripratica>Riapri pratica</a>] &nbsp;&nbsp;&nbsp;
{% endif %}
{% if info.pratica_annullabile %}
[<a href=/annullapratica>Annulla pratica</a>] &nbsp;&nbsp;&nbsp;
{% endif %}
</tr></td>
{{ end_page() }}

