[Unit]
Description=Procedura Acquisti
After=network.target
RequiresMountsFor=/home/public

[Service]
Type=forking
WorkingDirectory=/home/public/acquisti
PIDFile=/home/public/acquisti/work/acquisti5.pid
User=acquisti
ExecStart=/usr/local/bin/gunicorn -w 5 -b 0.0.0.0:5000 \
             --pythonpath=/home/public/acquisti/bin5 -D \
             --log-file=/home/public/acquisti/work/httpd-acquisti5.log \
             --pid=/home/public/acquisti/work/acquisti.pid --user=acquisti \
             --certfile=/home/public/acquisti/ebe_arcetri_inaf_it_cert.cer \
             --keyfile=/home/public/acquisti/ebe_arcetri_inaf_it.key        acquisti:ACQ
ExecStop=/bin/kill -s TERM $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
