[Unit]
Description=Procedura per gestione utenti via LDAP
After=network.target
RequiresMountsFor=/home/public

[Service]
Type=forking
PIDFile=/home/public/acquisti/work/manageldap.pid
User=acquisti
WorkingDirectory=/home/public/acquisti
ExecStart=/usr/local/bin/gunicorn -w 1 -b 0.0.0.0:4010 --pythonpath=/home/public/acquisti/bin -D --log-file=/home/public/acquisti/work/httpd-manageldap.log --pid=/home/public/acquisti/work/manageldap.pid --user=acquisti manageldap:MLP
ExecStop=/bin/kill -s TERM $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
