[Unit]
Description=Procedura per gestione utenti via LDAP
After=network.target
RequiresMountsFor=/home/public

[Service]
Type=forking
PIDFile=/home/public/acquisti/work/manageldap5.pid
User=acquisti
WorkingDirectory=/home/public/acquisti
ExecStart=/usr/local/bin/gunicorn -w 1 -b 0.0.0.0:5010 \
    --pythonpath=/home/public/acquisti/bin5 -D \
    --log-file=/home/public/acquisti/work/httpd-manageldap5.log \
    --pid=/home/public/acquisti/work/manageldap5.pid \
    --user=acquisti  \
    --certfile=/home/public/acquisti/ebe_arcetri_inaf_it_cert.cer \
    --keyfile=/home/public/acquisti/ebe_arcetri_inaf_it.key     manageldap:MLP
ExecStop=/bin/kill -s TERM $MAINPID
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
