<!DOCTYPE html>
<html>
<head>
<title>Rollback</title>
<link rel="stylesheet" type="text/css" href="/files/overlay.css">
<script src="/files/overlay.js"></script>
</head>
<body>
<!-- template: rollback.html. v. 1.0 -->
{% from "_common.html" import start_page, end_page, render_field %}
{% macro getval(value) %}
Pratica N. {{ value }}
{% endmacro %}
{{ start_page(sede.sede_it,getval(pratica.numero_pratica),pratica.descrizione_acquisto) }}
<tr><td>
Hai chiesto di annullare l'ultimo passo effettuato:

<blockquote>
{{ data.passo }}
</blockquote>

per tornare al precedente:

<blockquote>
{{ data.prec }}
</blockquote>

{% if data.remove_doc %}
Sarà eliminato il documento: {{ data.remove_doc }}
{% endif %}
{% if data.remove_all %}
<br>
Saranno eliminati gli allegati: {{ data.remove_all }}
{% endif %}
</tr></td><tr><td>
<form action=/rollback method=POST>
<input id="annulla" name="annulla" type="submit" value="Annulla">
 &nbsp;&nbsp; 
<input id="conferma" name="conferma" type="submit" value="Conferma">
</form>
</tr></td>
{{ end_page() }}

